[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = Products.feedfeeder


[instance]
eggs +=
    Products.feedfeeder


[versions]
BeautifulSoup = 3.2.1
FeedParser = 4.1
feedparser = 4.1
